{% extends "learning/resource/base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Create a new resource" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Create a new resource" "learning:resource/add" %}
{% endblock %}

{% block learning_content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "learning/resource/_includes/resource_form.html" with form=form %}
    <button type="submit" class="btn btn-primary float-right">{% trans "Create a new resource" %}</button>
  </form>
{% endblock %}
